<header>
    <div class="login">
        <div class="loginButton" (click)="logout()">
            <span *ngIf="login">Kirjaudu ulos</span>
        </div>
    </div>
    <div class="upperSection">
        <h1>Ultimate Task Manager</h1>
        
    </div>
    <nav>
        <a routerLink="/front-page" routerLinkActive="active">Etusivu</a>  |
        <a routerLink="/add-task" routerLinkActive="active">Lisää tehtävä</a> |
        <a routerLink="/history" routerLinkActive="active">Historia</a>
    </nav>
    
</header>

