.historyElement {
    display: flex;
    padding-left: 1.0em;
}

.del {
    margin-left: auto;
    margin-right: 5vw;
    padding: .5em;

    background-color: rgb(224, 149, 149);
    margin-top: 5px;
    margin-bottom: auto;
    border: 1px solid black;
    border-radius: .5em;
}

.del:hover {
    background-color: red;
}

.date {
    margin-right: 1.0em;
}

.historyElement h2 {
    font-size: 1.2em;
}

li:nth-of-type(even) {
    background-color: lightblue;
    padding: 0.5em 0em;
}

ol {
    list-style: none;
}