.check {
    margin-left: auto;
    border: 2px solid green;
    border-radius: 0.2em;
    padding: 0.5em;
    align-self: center;
    margin-right: 2em;
}

.check:hover {
    background-color: lightgreen;
}

#section1 {
    margin-bottom: 3em;
}

.taskTime {
    font-size: 0.9em;
    margin-left: auto;
    margin-right: 40%;
}

article h2 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    
}


/* Task-laatikon tyylit */
article {
    text-align: center;
    
}

ol {
    list-style: none;
    
}

.task {
    display: flex;
}

.task_description {
    display: flex;
    align-content: space-between;
    background-color: rgb(178, 230, 247);
    
    border: 1px solid black;
    border-radius: 1em;
    box-shadow: 2px 2px gray;
    width: 60%;
}

.delRepeatingTask {
    border: 1px solid gray;
    background-color: lightgrey;
    padding: 0.4em;
    margin-top: auto;
    margin-right: 2em;
    border-radius: 1em;
    width: 70px;
}

.taskTitleAndDesc {    
    flex-grow: 1;
}

.taskDateTime {
    padding-left: 1em;
    margin-right: 2em;
}

@media screen and (max-width: 500px) {
    .task {
        flex-direction: column;
    }
    .task_description {
        width: 100%;
        margin: auto;
        margin-bottom: 0.5em;
    }
    .check {
        margin: auto;
    }
    ol {
        padding-left: 0px;
    }
}