/* You can add global styles to this file, and also import other style files */
article {
    text-align: center;
}

ol {
    list-style: none;
}

.task {
    display: flex;
}

.task_description {
    margin-left: 0px;
    border: 1px solid black;
    border-radius: 1em;
    box-shadow: 2px 2px gray;
    width: 50vw;
}

.taskTitleAndDesc {    
    flex-grow: 1;
}

.taskDateTime {
    padding-left: 1em;
    margin-right: 2em;
}